# keep this comment line to avoid roxygen issues
# load libfftw3 before seismic.ts.
useDynLib("libfftw3-3")
# load seismic.ts
useDynLib(seismic.ts, .registration = TRUE)
importFrom("stats", "acf", "fft", "filter", "is.mts", "toeplitz", "ts")
#exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")